:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey_dark: #222222;
    --grey: #282829;
    --grey_line: #55565A;
    --grey_text: #38535D;
    --grey_light: #D6D6D6;
    --desert: #D5C9BE;
}